h1 {
    font-family: Lato;
    font-size: 2em;
    text-align: center;
    padding: 10px;
    background-color: #4a90e2;
    color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  .table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
  }
  .table tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
  }
  
  .table tbody tr:nth-child(even) {
    background-color: #e0e0e0;
  }
  